li {
    list-style: none;
}

.card {
    background-color: white;
    color: #000;
    padding: 1rem 1.5rem 2rem 1.5rem; 
    margin: 1rem  0;
}

ul{
    margin: 0;
    text-align: left;
    padding: 0;
}

li {
    font-size: 1rem;
    padding: .8rem 0;
    line-height: 10px;
}

.card:first-child {
    border-radius: 10px 10px 0 0;
}

.card:last-child {
    border-radius: 0 0 10px 10px;
}

.card .myBtn {
    background-color: transparent;
}

.card .myBtn:hover {
    
    border: 1px solid #979797;
}